<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Bank Balance</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<div class="container">
    <h2>Bank Balance (Account 1)</h2>

    <p th:text="${accountbalance}">

    <hr>

    <p>
        <a th:href="@{/banking/transfer}" class="btn btn-primary btn-lg active">Transfer</a>
    </p>
</div>
</body>

</html>